$white: #fffbf2;
$red: #e30615;
$bleu-tm:#003a60;
$bleu-medium:#186f96;
$bleu-gradient: linear-gradient(135deg, $bleu-medium 0%, $bleu-tm 100%);

$su: 20px; // spacing-unit

$mw: 1280px; // max-width

@font-face {
    font-family: 'GOOD BRUSH';
    src: url('../assets/fonts/GOODBRUSH.woff2') format('woff2'),
        url('../assets/fonts/GOODBRUSH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: 00A0 — 00FF;
}

@import 'partials/_reset';
@import 'partials/_mixins';
@import 'partials/_layout';
@import 'partials/_typo';
@import 'partials/_modules';
@import 'partials/_hero';
@import 'partials/_intro';
@import 'partials/_get-it';
@import 'partials/_you';
@import 'partials/_about';
@import 'partials/_infos';
@import 'partials/_footer';