<div id="section-description" arial-label="Description et achat">
    <div class="site-description__buttons">
        <a href="#">Acheter le jeu</a>
        <a href="#">Télécharger&nbsp;le guide&nbsp;pédagogique</a>
    </div>
    <div class="cols-2 site_description__cols">
        <div class="cols-2__col">
            <div class="cards observed">
                <picture class="card card--01">
                    <source srcset="/assets/img/resiste-carte-01.png" media="(min-width: 768px)">
                    <img class="site-logo__baseline" src="/assets/img/resiste-carte-01-small.png" alt="">
                </picture>
                <picture class="card card--02">
                    <source srcset="/assets/img/resiste-carte-02.png" media="(min-width: 768px)">
                    <img class="site-logo__baseline" src="/assets/img/resiste-carte-02-small.png" alt="">
                </picture>
                <picture class="card card--03">
                    <source srcset="/assets/img/resiste-carte-03.png" media="(min-width: 768px)">
                    <img class="site-logo__baseline" src="/assets/img/resiste-carte-03-small.png" alt="">
                </picture>
                <picture class="card card--04">
                    <source srcset="/assets/img/resiste-carte-04.png" media="(min-width: 768px)">
                    <img class="site-logo__baseline" src="/assets/img/resiste-carte-04-small.png" alt="">
                </picture>
                <picture class="card card--05">
                    <source srcset="/assets/img/resiste-carte-05.png" media="(min-width: 768px)">
                    <img class="site-logo__baseline" src="/assets/img/resiste-carte-05-small.png" alt="">
                </picture>
                <picture class="card card--06">
                    <source srcset="/assets/img/resiste-carte-06.png" media="(min-width: 768px)">
                    <img class="site-logo__baseline" src="/assets/img/resiste-carte-06-small.png" alt="">
                </picture>
            </div>
        </div>
        <div class="cols-2__col">
            <p><em>Résiste !</em> est un jeu de tuiles dont le but est de mettre à jour l’ordinateur central et ainsi le libérer du contrôle de Technomania. Pour atteindre cet objectif, il faut relever des épreuves et rassembler les quatre pièces d’un puzzle. Une fois celui-ci complété, la mise à jour peut être lancée et faire de l’ordinateur central un outil au service de toutes et tous ! Mais prenez garde ! Technomania tente lui aussi d’installer un virus pour empêcher les joueurs d’agir. Il vous faudra donc réussir avant le chargement complet de ce virus&nbsp;!</p>
        </div>
    </div>
    <ul class="section-description__icons icon-list">
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-joueurs"></use><title>Nombre de joueurs</title></svg>
            <span>4 à 16 joueurs</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-age"></use><title>Age</title></svg>
            <span>9 - 13 ans</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-duree"></use><title>Durée</title></svg>
            <span>60’ - 90’</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-prix"></use><title>Prix</title></svg>
            <span>30 €</span>
        </li>
    </ul>
</div>