<section id="section-you" class="home-section">
    <h2>À vous de jouer&nbsp;!</h2>
    <h3><span class="observed">1</span> Installez-le jeu et formez les équipes&nbsp;!</h3>
    <div class="section-you__video">
        <iframe class="button" loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/JYGjhDX25-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <hr>
    <h3><span class="observed">2</span> Visionnez le film «&nbsp;Mine de rien&nbsp;!&nbsp;»</h3>
    <div class="cols-2 section-you__cols">
        <div class="cols-2__col">
            <div class="section-you__television">
                <div class="section-you__television__video">
                    <iframe loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/XT8K7vgxrpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="section-you__television__img">
                    <img src="/assets/img/resiste-television.svg" role="presentation">
                </div>
            </div>
        </div>
        <div class="cols-2__col text-italic">
            <p>Dans leur monde, Jack & Mina vivent en harmonie avec les autres bics et crayons.</p>
            <p>Les droits et les libertés sont respectées.</p>
            <p>Lorsque le Président décède, des élections sont organisées et c’est le parti Technomania, dont la campagne est basée sur l’utilisation de l’ordinateur tout puissant, qui remporte les suffrages.</p>
            <p>C’est alors que les bics et les crayons voient de nouvelles règles, imposées par Technomania, modifier peu à peu leur quotidien : durcissement des conditions de travail, créativité et libertés étouffées puis supprimées, arrestations quotidiennes des opposants, …</p>
            <p>Face à cette situation, Mina et d’autres décident de réagir. Malgré les dangers qui les menacent et les diverses tentatives d’oppression de la part de Technomania, la résistance se met en place clandestinement.</p>
            <p>La communauté des bics et des crayons parviendra-t-elle à faire revivre la démocratie&nbsp;?</p>
        </div>
    </div>
    <hr>
    <h3><span class="observed">3</span> Complétez la séance avec le dossier pédagogique&nbsp;!</h3>
    <div class="section-you__btn">
        <a class="button" href="/assets/pdf/tm-resiste-dossier-pedagogique.pdf" target="_blank">
            <figure>
                <img src="/assets/img/resiste-dossier-pedagogique.jpg" width="330" height="467">
                <figcaption>Télécharger en pdf</figcaption>
            </figure>
        </a>
    </div>
    <hr>
    <h3><span class="observed">4</span> Envie d’aller plus loin&nbsp;?</h3>
    <div class="section-you__further">
        <p><mark>→</mark> Visitez l’exposition <em>Plus jamais ça&nbsp;!</em> à <a href="https://www.territoires-memoire.be/plusjamaisca" target="_blank" rel="noopener">La Cité Miroir</a>.</p>
        <p><mark>→</mark> Retrouvez les <a href="https://www.territoires-memoire.be/eduquer" target="_blank" rel="noopener">actions pédagogiques des Territoires de la Mémoire</a>.</p>
        <br>
        <p>Contactez-nous pour un accompagnement pédagogique&nbsp;:</p>
        <ul>
            <li><a href="https://www.territoires-memoire.be" target="_blank" rel="noopener">www.territoires-memoire.be</a></li>
            <li><a href="mailto:pedagogique@territoires-memoire.be">pedagogique@territoires-memoire.be</a></li>
            <li>04&nbsp;232&nbsp;70&nbsp;03</li>
        </ul>
    </div>
</section>