<section id="section-intro" class="home-section">
    <h2 class="hide">Introduction</h2>
    <p class="section-intro__text">Avec <em>Résiste&nbsp;!</em>, plongez dans un univers original, répondez à des questions et relevez des défis tout en renforçant vos&nbsp;connaissances&nbsp;! </p>
    <p class="section-intro__text">Une manière ludique et coopérative d’aborder la politique, la démocratie et la résistance à&nbsp;partir&nbsp;de&nbsp;9&nbsp;ans.</p>
    <ul id="section-intro__icons" class="icon-list">
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-joueurs"></use><title>Nombre de joueurs</title></svg>
            <span>4 à 16 joueurs</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-age"></use><title>Age</title></svg>
            <span>9 - 13 ans</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-duree"></use><title>Durée</title></svg>
            <span>60’ - 90’</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-prix"></use><title>Prix</title></svg>
            <span>30 €</span>
        </li>
    </ul>
</section>