<section id="section-infos" class="observed" aria-label="Éléments du jeu">
    <ul class="icon-list">
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-joueurs"></use><title>Nombre de joueurs</title></svg>
            <span>4 à 16 joueurs</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-age"></use><title>Age</title></svg>
            <span>9 - 13 ans</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-duree"></use><title>Durée</title></svg>
            <span>60’ - 90’</span>
        </li>
        <li>
            <svg viewBox="0 0 90 90"><use xlink:href="#icone-prix"></use><title>Prix</title></svg>
            <span>30 €</span>
        </li>
    </ul>
    <div id="get-the-game">
        <h2>Procurez-vous le&nbsp;jeu&nbsp;!</h2>
        <ul class="icon-list">
            <li>
                <svg viewBox="0 0 90 90"><use xlink:href="#icone-boutique"></use><title>Boutique en ligne</title></svg>
                <span><a href="https://boutique.territoires-memoire.be">Acheter en ligne</a></span>
            </li>
            <li>
                <svg viewBox="0 0 90 90"><use xlink:href="#icone-contact"></use><title>Contact</title></svg>
                <span>04 232 70 03<br><a href="mailto:accueil@territoires-memoire.be">Email</a></span>
            </li>
            <li class="icon-list__long-text">
                <svg viewBox="0 0 90 90"><use xlink:href="#icone-localisation"></use><title>Où trouver le jeu</title></svg>
                <span><small>Le jeu est disponible à la vente à la <a href="http://www.citemiroir.be/fr/librairie">librairie Stéphane Hessel</a> de la <a href="http://www.citemiroir.be/fr">Cité&nbsp;Miroir</a>, 22 place Xavier&nbsp;Neujean à 4000&nbsp;Liège</small></span>
            </li>
        </ul>
    </div>
</section>