<section id="section-technical" class="cols-2" aria-label="Éléments du jeu">
    <div class="cols-2__col">

    </div>
    <div class="cols-2__col">
        <ul class="specs">
            <li>
                <svg viewBox="0 0 90 90"><use xlink:href="#icone-joueurs--blanc"></use></svg>
                <span>4 à 16 joueurs</span>
            </li>
            <li>
                <svg viewBox="0 0 90 90"><use xlink:href="#icone-age--blanc"></use></svg>
                <span>9 - 13 ans</span>
            </li>
            <li>
                <svg viewBox="0 0 90 90"><use xlink:href="#icone-duree--blanc"></use></svg>
                <span>60’ - 90’</span>
            </li>
        </ul>
    </div>
</section>