<section id="section-infos" class="home-section observed" >
    <p class="text-center">Avec le soutien de la Fédération Wallonie-Bruxelles – Ministère de l’Education et de l’Egalité des Chances</p>
    <ul class="section-infos__soutiens">
        <li>
            <a href="http://www.federation-wallonie-bruxelles.be/" target="_blank" rel="noopener">
                <img loading="lazy" src="/assets/img/logo-federation-wallonie-bruxelles.png" alt="Logo de la Fédération Wallonie-Bruxelles">
            </a>
        </li>
    </ul>
</section>