<div class="tm-logo-wrapper">
    <a class="tm-logo" href="https://www.territoires-memoire.be">
        <img src="/assets/img/tm-logo.svg" alt="Logo des Territoires de la Mémoire" title="Site web des Territoires de la Mémoire">
    </a>
</div>

<header id="section-hero" class="cols-2">
    <div class="cols-2__col section-hero__box">
        <div id="scene">
            <div class="cube cube show-top" id="cube">
                <div class="cube__face cube__face--front"><img src="/assets/img/resiste-boite-front.jpg" alt=""></div>
                <div class="cube__face cube__face--back"><img src="/assets/img/resiste-boite-back.jpg" alt=""></div>
                <div class="cube__face cube__face--right"><img src="/assets/img/resiste-boite-right.jpg" alt=""></div>
                <!-- <div class="cube__face cube__face--left"><img src="/assets/img/resiste-boite-left.jpg" alt=""></div> -->
                <div class="cube__face cube__face--top"><img src="/assets/img/resiste-boite-top.jpg" alt=""></div>
                <!-- <div class="cube__face cube__face--bottom"><img src="/assets/img/resiste-boite-bottom.png" alt=""></div> -->
            </div>
        </div>
    </div>
    <div class="cols-2__col">
        <h1 class="site-logo">
            <a href="/">
                <img class="site-logo__resiste" src="/assets/img/resiste-logo.png" alt="Résiste !">
            </a>
            <picture>
                <source srcset="/assets/img/resiste-baseline.png" media="(min-width: 1024px)">
                <img class="site-logo__baseline" src="/assets/img/resiste-baseline-noir.png" alt="Le jeu coopératif pour résister ensemble et défendre la démocratie !">
            </picture>
        </h1>
    </div>
</header>