#section-about {
    padding:$su*4 $su/2;
    background-image:url("../assets/img/resiste-tache-01.png"), url("../assets/img/resiste-tache-02.png"),  $bleu-gradient;
    background-position:-100px -100px, calc(100% + 100px) calc(100% + 100px),left top;
    background-repeat:no-repeat;
    color:white;
    transition:background-position 200ms ease-out;

    @media screen and (min-width: 1024px) {
        padding:$su*4 $su;
        
        &.is-visible {
            background-image:url("../assets/img/resiste-tache-01.png"), url("../assets/img/resiste-tache-02.png"),  $bleu-gradient;
            background-position:5px 5px,calc(100% - 5px) calc(100% - 5px),left top;
        }
    }

    .cols-2 {
        
        @media screen and (min-width: 1024px) {
            align-items:flex-start;
            margin:0 auto;

            &:first-of-type {
                width: 100%;
                max-width: $mw;
            }
        }
    }

    .cols-2__col {
        max-width: 640px;
        width:100%;

        &.section-about__text {
            padding:0 $su/2;
            order:2;
            margin-top:$su;
        }

        &.section-about__video {
            padding:0 $su/2;
        }

        @media screen and (min-width:1024px) {
            
            &.section-about__text {
                margin-top:0;
                margin-right:$su*2;
                padding:0;
                order:0;
            }
            
            &.section-about__video {
                padding:$su/2 0 0 $su/4;
            }
        }
    }

    p {
        margin: 0;
        
        @media screen and (min-width: 1024px) {
            font-size: 1.25rem;
            text-align: justify;
            hyphens: auto;
        }
    }

    iframe {
        width:100%;
        border:5px dashed white;
        transition: border-color 100ms ease-out;

        &:hover, &:focus {
            border-color:$red;
        }
    }
}