
::selection {
	background-color:$red;
	color: white;
}

html {
    height:100%;
    scroll-behavior: smooth;
}

body {
    @include ff-r; 
    background:white;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height:100%;
    scroll-behavior: smooth;

    * {
        box-sizing: border-box;
    }
}

.site-wrapper {
    width:100%;
    max-width:1920px;
    margin:0 auto;
    overflow-x:hidden;

    @media screen and (min-width:1920px) {
        box-shadow: 0 0 20px -10px #010101;
    }
}

.site-main {
    margin-top:0;
}

.home-section {
    padding:$su*4 $su;
    
    @media screen and (min-width:1024px) {
        padding:$su*6 $su;
    }
}

.cols-2 {
    display:flex;
    flex-direction: column;
    align-items:center;
    
    @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.cols-2__col {
    width:auto;

    @media screen and (min-width:768px) {
        width: calc(50% - #{$su});
    }
}