/*
* MODULES
*/

.hide {
    display:block;
    position: absolute;
    left:-99999px;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}

a {
    

    &:hover, &:focus {
        
    }
}

.button, a.button {
    

    &:hover, &:focus {
    
    }

    &:active {

    }
}

iframe {
    max-width: 100%;
}