h1, h2, h3, h4 {
    @include ff-b;
    margin-bottom:0.25em;
    line-height:1.25;
    text-transform: uppercase;
}

h1 {
    
}

h2 {
    font-size: 2.6rem;
    margin-top:0;
}

h3 {
    
}

h4 {
    
}
